
/* Introdução*/
.interna_sobre{
    background: url("../img/bg-sobre.jpg") no-repeat center;
}
.subtitulo_interno {
    font-family: Arial,"Times New Roman",SansSerif;
    font-size: 24px;
    font-weight: bold;
    padding: 40px 0 20px 0;
}

.subtitulo_interno:after {
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background: black;
    margin: 6px;
}

.missao_sobre {
    padding-top: 20px;
}

.missao_sobre p{
    font-size: 16px;
    line-height: 25px;
    margin-bottom: .1em;
    padding-right: 40px;
}

.missao_sobre ul li{
    font-family: Georgia,"Times New Roman",Serif;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: .1em;
}

.missao_sobre img{
    padding-top: 30px;
}

